.wrapper

  = render "shared/chat-side"

  .chat-main
    .chat-main__header
      .chat-main__header__current-group
        %h2.chat-main__header__current-group__name
          = @group.name
        %ul.chat-main__header__current-group__member-list
          Member：
          %li.chat-main__header__current-group__member-list__member
            member1
      = link_to "/groups/1/edit" do
        .chat-main__header__edit-btn
          Edit

    .messages
      = render @messages

    .form
      .new-message
        = form_for [@group, @message] do |f|
          .new-message__input-box
            = f.text_field :message, class: 'new-message__input-box__text', placeholder: 'type a message'
            .new-message__input-box__image-label
              = f.label :image, class: 'new-message__input-box__image-label' do
                = fa_icon 'picture-o', class: 'fa'
                = f.file_field :image, class: 'new-message__input-box__image-label__input'
          = f.submit 'Send', class: 'new-message__submit-btn'
